$themeColor: #00B6DE;

//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	//padding-top: 70px;
}

.float-right {
	float: right;
}

.img-responsive {
	width: 100%;
}

.input-field {
	margin-bottom: 20px;
}

.text-italic {
	font-style: italic;
}

.btn {
	&.btn-full {
		width: 100%;
	}
}
.page1 {
	background: url('../../images/people.jpg') center bottom no-repeat;
	padding: 50px 0 400px 0;

	div.jumbotron {
		padding: 0;
		background: none;
		h2 {
			font-size: 40px;
			margin-bottom: 20px;
		}

		a {
			span {
				font-size: 12px;
			}
		}

		.btn {
			width: 100%;
		}
	}		
}

.profile-overview {
	h2 {
		margin-top: 0;
	}

	.card {
		ul {
			overflow: hidden;
			li {
				button {
				    //padding: 3px 8px;
				}
			}
			&.skills {
				li {
					float: left;
					margin: 2px;
					button.modal-trigger {
						color: #333;
						border: 1px solid #ddd;
						background: #fefefe;
						padding: 3px 5px;
						border-radius: 3px;
					}
				}	
			}			
			&.workExperiences {
				li {
					overflow: hidden;
					margin-bottom: 15px;
				}
			}

		}
	}
}

.dropzone {
	border: 1px dashed #ddd !important;
	margin-top: 20px;
}

.modal {

	.input-field {
		margin-bottom: 0px !important;
	}

	.modal-footer {
		button {
			margin: 0px 5px !important;
		}
	}
}

.collection {
	span.badge {
		margin-top: -30px;
	}
}

.card-panel {
	&.errors {
		padding: 5px 20px;
	}
}

table {
	&.striped {
		border: 1px solid #ddd;
	}

	tr {
		td {
			div.actions {
				display: none;
				a {
					font-size: 12px;
				}
			}
			&:hover {
				div.actions {
					display: block;
				}
			}
		}
	}
}