@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	padding-top: 70px;
}

.float-right {
	float: right;
}

.img-responsive {
	width: 100%;
}

.page1 {
	background: url('../../images/people.jpg') center bottom no-repeat;
	padding: 50px 0 400px 0;

	div.jumbotron {
		padding: 0;
		background: none;
		h2 {
			font-weight: bold;
			font-size: 30px;
			margin-bottom: 20px;
		}

		a {
			span {
				font-size: 12px;
			}
		}
	}		
}

.profile-overview {
	h2 {
		margin-top: 0;
	}

	.well {
		overflow: hidden;
		.well-title-container {
			overflow: hidden;
			border-bottom: 1px solid #ddd;
			padding-bottom: 5px;
			.well-title {
				margin-top: 0;
				float: left;
			}
			a { //add button
				float: right;
			}
		}

		.well-content {
			padding-bottom: 30px;
		}

		ul {
			padding-left: 15px;
			margin-top: 20px;		
		}
	}
}
